@charset "utf-8";
body, html{
	overflow-x:hidden;
    height: 100%;
	max-height:100%;
    font-family:Montserrat, lato, sans-serif !important;
    -webkit-background-size:auto;
    -moz-background-size: auto;
    -o-background-size:auto;
	background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
	margin:0px;
}
*{
	box-sizing:border-box;
}
ul{
	list-style:none;
}

::-webkit-input-placeholder{
    font-size:16px;
    color:#C0C0C0;
}

::-moz-placeholder{
    font-size:16px;
    color:#C0C0C0;
}
:-ms-input-placeholder{
    font-size:16px;
    color:#C0C0C0;
}
:-moz-placeholder{
    font-size:16px;
    color:#C0C0C0;
}

*:focus{
    outline: none;
}
a {
    text-decoration:none;
	color: #000 !important;
}

#active-page{
	color:#2a8184 !important;
	border-bottom:4px solid #2a8184;
	padding:10px 0px 0px 0px;
	margin-right:4px;

	}
#login-btn{
	border: 1.2px solid #0B6264;
	border-radius:10px;
	margin-left:10px;
	}
#login-btn:hover{
	border: 1.2px solid #0B6264;
	border-radius:10px;
	margin-left:10px;
	background-color:#3a9093;
	color:#FFF !important;
	}

.btn{
	background-color: #2a8184 !important;
	color:#FFF;
	height: 30px !important;
	width: 110px;
	padding-top:2px !important;
	margin-left:4%;
	margin-top: 15px;
	margin-bottom: 70px;
	font-weight:bold;
	}
#btn-signup{
	background-color: #FFF !important;
	color: #2a8184;
	border-color:#2a8184;
	font-weight:bold;
	}

.btn:hover{
	background-color: #3a9093 !important;
	}

#home-img-container{
	overflow:hidden;
	height:450px;
	border-bottom:solid 10px #0B6264;
	}

.sliding{
	opacity:0;
	animation-name:sliding;
	animation-duration:2s;
	animation-delay:1s;
	animation-fill-mode:forwards;
	-webkit-animation-name:sliding;
	-webkit-animation-duration:2s;
	-webkit-animation-delay:1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-name:sliding;
	-moz-animation-duration:2s;
	-moz-animation-delay:1s;
	-moz-animation-fill-mode:forwards;
	-o-animation-name:sliding;
	-o-animation-duration:2s;
	-o-animation-delay:1s;
	-o-animation-fill-mode:forwards;
	}

@keyframes sliding{
		from  {opacity:0; transform:translateY(60%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-webkit-keyframes sliding{
		from  {opacity:0; transform:translateY(60%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-moz-keyframes sliding{
		from  {opacity:0; transform:translateY(60%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-o-keyframes sliding{
		from  {opacity:0; transform:translateY(60%);}
		to {opacity:1; transform:translateY(0%);}
	}

.sliding2{
	opacity:0;
	animation-name:sliding2;
	animation-duration:1s;
	animation-delay:1s;
	animation-fill-mode:forwards;
	-webkit-animation-name:sliding2;
	-webkit-animation-duration:1s;
	-webkit-animation-delay:1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-name:sliding2;
	-moz-animation-duration:1s;
	-moz-animation-delay:1s;
	-moz-animation-fill-mode:forwards;
	-o-animation-name:sliding2;
	-o-animation-duration:1s;
	-o-animation-delay:1s;
	-o-animation-fill-mode:forwards;
	}

@keyframes sliding2{
		from  {opacity:0; transform:translateY(20%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-webkit-keyframes sliding2{
		from  {opacity:0; transform:translateY(20%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-moz-keyframes sliding2{
		from  {opacity:0; transform:translateY(20%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-o-keyframes sliding2{
		from  {opacity:0; transform:translateY(20%);}
		to {opacity:1; transform:translateY(0%);}
	}


.sliding3{
	opacity:0;
	animation-name:sliding3;
	animation-duration:1s;
	animation-delay:1s;
	animation-fill-mode:forwards;
	-webkit-animation-name:sliding3;
	-webkit-animation-duration:1s;
	-webkit-animation-delay:1s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-name:sliding3;
	-moz-animation-duration:1s;
	-moz-animation-delay:1s;
	-moz-animation-fill-mode:forwards;
	-o-animation-name:sliding3;
	-o-animation-duration:1s;
	-o-animation-delay:1s;
	-o-animation-fill-mode:forwards;
	}

@keyframes sliding3{
		from  {opacity:0; transform:translateY(4%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-webkit-keyframes sliding3{
		from  {opacity:0; transform:translateY(4%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-moz-keyframes sliding3{
		from  {opacity:0; transform:translateY(4%);}
		to {opacity:1; transform:translateY(0%);}
	}
@-o-keyframes sliding3{
		from  {opacity:0; transform:translateY(4%);}
		to {opacity:1; transform:translateY(0%);}
	}

.img-fadein{
	opacity:0;
	animation-name:img-fadein;
	animation-duration:1s;
	animation-delay:2s;
	animation-timing-function:ease-in;
	animation-fill-mode:forwards;
	-webkit-animation-name:img-fadein;
	-webkit-animation-duration:1s;
	-webkit-animation-delay:2s;
	-webkit-animation-timing-function:ease-in;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-name:img-fadein;
	-moz-animation-duration:1s;
	-moz-animation-delay:2s;
	-moz-animation-timing-function:ease-in;
	-moz-animation-fill-mode:forwards;
	-o-animation-name:img-fadein;
	-o-animation-duration:1s;
	-o-animation-delay:2s;
	-o-animation-timing-function:ease-in;
	-o-animation-fill-mode:forwards;
	}
@keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}
@-webkit-keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}
@-moz-keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}
@-o-keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}


.bg-img-fadein{
	opacity:0;
	animation-name:img-fadein;
	animation-duration:1s;
	animation-delay:0.5s;
	animation-timing-function:ease-in;
	animation-fill-mode:forwards;
	-webkit-animation-name:img-fadein;
	-webkit-animation-duration:1s;
	-webkit-animation-delay:0.5s;
	-webkit-animation-timing-function:ease-in;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-name:img-fadein;
	-moz-animation-duration:1s;
	-moz-animation-delay:0.5s;
	-moz-animation-timing-function:ease-in;
	-moz-animation-fill-mode:forwards;
	-o-animation-name:img-fadein;
	-o-animation-duration:1s;
	-o-animation-delay:0.5s;
	-o-animation-timing-function:ease-in;
	-o-animation-fill-mode:forwards;
	}
@keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}
@-webkit-keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}
@-moz-keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}
@-o-keyframes img-fadein{
		from  {opacity:0;}
		to {opacity:1;}
	}

#signupForm{
	display:none;
	margin-top:7% !important;
}

#alertBox{
	width:80%;
	border:none;
	height: 30px;
	padding:10px;
	padding-bottom: 10px;
	display: none;
}

#alertBox2{
	width: 80%;
	border:none;
	height: 30px;
	padding:10px;
	padding-bottom: 10px;
	display:none;
}



/*=============================================================MOBILE STYLES===================================================*/
@media only screen and (max-width: 600px) {
#page-split1{
	display:none;
	}

#page-split2 form p{
	font-size:3vw !important;
	font-weight:bold;
}

#page-split2 form label{
	font-size:2vw !important;
	display:inline;
	vertical-align:middle;
	color:#2a8184 !important;
}
#page-split2 form label a{
	font-size:2vw !important;
	display:inline;
	float:right;
	margin-top:5px;
	color:#2a8184 !important;
}

#brand-name{
	display:none;
}
}


/*==============================================DESKTOP STYLES BEGIN==================================================*/

#page-split2{
	background:#FFF;
	}
#page-split2 form{
	width:80%;
	margin:auto;
	margin-top:30%;
	padding-left: 15%;
	padding-top: 50px;
	box-shadow:0 0 2px 1px rgba(0,0,0,0.3);
	border-radius: 5px;
	border-right:solid 20px #2a8184;
	}
#page-split2 form input{
	width:80%;
	border-radius:5px;
	border:none;
	border:1px solid #2a8184;
	height: 50px;
	margin-top:20px;
	padding-left:10px;
}
#page-split2 form p{
	font-size:1.5vw;
	font-weight:bold;
}
#page-split2 form span{
	color:#2a8184;
}
#page-split2 form label{
	font-size:0.9vw;
	display:inline;
	vertical-align:middle;
	color:#2a8184 !important;
}
#page-split2 form label a{
	font-size:0.9vw;
	display:inline;
	float:right;
	margin-top:5px;
	color:#2a8184 !important;
}
#page-split2 form #remember{
	width:auto;
	display:inline;
	float:left;
	margin-top:0;
	height: auto;
	margin-top:5px;
}
