@charset "utf-8";
/* -------------GENERAL STYLES----------*/

body, html{
    height: 100%;
	max-height:100%;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	margin:0px;
}

::-webkit-input-placeholder{
    font-size:16px;
    color:#C0C0C0;
}

::-moz-placeholder{
    font-size:16px;
    color:#C0C0C0;
}
:-ms-input-placeholder{
    font-size:16px;
    color:#C0C0C0;
}
:-moz-placeholder{
    font-size:16px;
    color:#C0C0C0;
}

*:focus{
    outline: none;
}
a {
    text-decoration:none;
}

#active-page{
	color:#0B6264;
	border-bottom:4px solid black;
	
	}
#login-btn{
	border: 1.2px solid #0B6264;
	border-radius:10px;
	}

/* --------------------------------------TABLET----------------------------------------------- */
@media only screen and (min-width: 481px) {
.menu_nav{
    z-index: 1000;
    position: absolute;
    right: 15px;
    top: 20px;
}

.menu_nav a{
    padding-right: 10px;
	padding-left: 10px;
    font-size: 16px;
    color: black;
}

.logo{
    position: absolute;
    top: 20px;
    left:4%;
    z-index: 200;
    color:cadetblue;
}
.logo img{
    margin-left: 20px;
    margin-top: 20px;
    width:60px;
    z-index: 200;
    display: inline-block;
}

.logo h2{
    display: inline-block;
    margin-left: 6px;
}

.welcome h1{
	position:absolute;
	left: 50px;
	top:160px;
	font-weight:lighter;
	letter-spacing:3px;
	word-spacing: 5px;
	}
.welcome span{
	color:#0B6264;
	font-weight:bold;
	word-spacing:7px;
	}

.welcome button{
	position:absolute;
	left: 50px;
	top:350px;
	width: 20%;
	font-size:20px;
	color:white;
	text-transform:uppercase;
	background-color:#0B6264;
	border:none;
	border-radius:10px;
	height:40px;
	}

.welcome h3{
	position: absolute;
	top: 280px;
	left:50px;
	width:24%;
	word-spacing:6px;
	letter-spacing:1px;
	font-size:18px;
	}

.home-img{
	position:absolute;
	right:0;
	top:35px;
	width:43%;
	height:auto;
	}
.home-img img{
	width:100%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	position: absolute;
    clip: rect(50px,600px,450px,1px);
	}
.img-text{
	width:55%;
	position:absolute;
	right:0;
	bottom:0;
	height:200px;
	background-color:white;
	border-top:solid 10px #0B6264;
	text-align:center;
	}

.home-footer{
	width: 100%;
	position:absolute;
	bottom:0;
	height:40px;
	background-color:#0B6264;
	}

.login-content{
    z-index:1;
    position: absolute;
    left: 0;
    height: 100%;
    width:50%;
    background-color: white;
}
.homepage-form{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 150px;
}
.homepage-form input{
    margin-top:5%;
    margin-left: 10%;
    width: 75%;
    display: inline-block;
    border: solid 2px cadetblue;
    background-color:rgba(220,220,220,0.7);
    height: 50px;
    padding-left: 5px;
    font-size:16px;
    color: cadetblue;
}



label{
	 color: cadetblue;
	 height: 20px;
	 margin-top: 0px;
	 display:block;
	 font-size:15px;
}

#checkbox{
	display:inline-block;
	width:15px;
	margin-top: 0px;
	vertical-align:middle;
}


#forgot-password{
	display:inline-block;
    width:124px;
    color: cadetblue;
	margin-left:58%;
	margin-top:3px;
	z-index:2;
	font-size:15px;
}

#or{ 
	display:none;
}
#or-mobile{
    margin-left: 12%;
    width: 75%;
    display: inline-block;
    color: cadetblue;
    
}

#create-account a{
	margin-left: 34%;
    width:auto;
    color: cadetblue;
	font-weight: bold;
    
}


#login-button {
    margin-top:10px;
    margin-left: 10.5%;
    width: 75%;
    height: 50px;
    background-color: cadetblue;
    border: none;
    font-size: 16px;
    color: white;
}

#login-button:active{
    opacity:0.7;
}

/*----- QUESTIONS PAGE--------*/

.questions li{
   width: 70%;
   background: darkgrey;
   height: 60px;
   margin-top: 20px;
   margin-bottom: 10px;
   padding-top: 50px;
   padding-left:30px;
   font-size: 18px;
}
.questions li:hover{
    background:cadetblue;
}

.questions li:active{
    background: mediumseagreen;
}

.questions-title {
    margin-left: 50px;
    width:auto;
    margin-bottom: 50px;
    color:cadetblue;
}

#closeMe a{
    position: absolute;
    right:50px;
    top:30px;
    color: cadetblue;
}

#next-stuff a{
    margin-left: 50px;
    width:auto;
    color: cadetblue;
}

 a{
    color: cadetblue;
}
}


/* --------------------------------------DESKTOP----------------------------------------------- */
@media only screen and (min-width: 769px) {
.menu_nav{
    z-index: 1000;
    position: absolute;
    right: 15px;
    top: 20px;
}

.menu_nav a{
    padding-right: 10px;
	padding-left: 10px;
    font-size: 17px;
    color: black;

}

.logo{
    position: absolute;
    top: 20px;
    left:4%;
    z-index: 200;
    color:cadetblue;
}
.logo img{
    margin-left: 20px;
    margin-top: 20px;
    width:60px;
    z-index: 200;
    display: inline-block;
}

.logo h2{
    display: inline-block;
    margin-left: 6px;
}

.welcome h1{
	position:absolute;
	left: 50px;
	top:160px;
	font-weight:lighter;
	}
.welcome span{
	color:#0B6264;
	font-weight:bold;
	word-spacing:7px;
	}
.welcome button{
	position:absolute;
	left: 50px;
	top:425px;
	width: 20%;
	font-size:20px;
	color:white;
	text-transform:uppercase;
	background-color:#0B6264;
	border:none;
	border-radius:10px;
	height:40px;
	}
.welcome h3{
	position: absolute;
	top: 280px;
	left:50px;
	width:24%;
	word-spacing:6px;
	letter-spacing:1px;
	font-size:18px;
	opacity:0.8;
	}
.img-text{
	width:55%;
	position:absolute;
	right:0;
	bottom:0;
	height:200px;
	background-color:white;
	border-top:solid 10px #0B6264;
	text-align:center;
	}

.home-footer{
	width: 100%;
	position:absolute;
	bottom:0;
	height:40px;
	background-color:#0B6264;
	}

.login-content{
    z-index:1;
    position: absolute;
    left: 0;
    height: 100%;
    width:50%;
    background-color: white;
}
.homepage-form{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 150px;
}
.homepage-form input{
    margin-top:5%;
    margin-left: 10%;
    width: 75%;
    display: inline-block;
    border: solid 2px cadetblue;
    background-color:rgba(220,220,220,0.7);
    height: 50px;
    padding-left: 5px;
    font-size:16px;
    color: cadetblue;
}



label{
	 color: cadetblue;
	 height: 20px;
	 margin-top: 0px;
	 display:block;
}

#checkbox{
	display:inline-block;
	width:20px;
	margin-top: 0px;
	vertical-align:middle;
}


#forgot-password{
	display:inline-block;
    width:124px;
    color: cadetblue;
	margin-left:68%;
	margin-top:3px;
	z-index:2;
}

#or{
    margin-left: 18%;
    width: 75%;
    display: inline-block;
    color: cadetblue;
    
}
#or-mobile{ 
	display:none;
}

#create-account a{
	margin-left: 39%;
    width:auto;
    color: cadetblue;
	font-weight: bold;
    
}


#login-button {
    margin-top:10px;
    margin-left: 10.5%;
    width: 75%;
    height: 50px;
    background-color: cadetblue;
    border: none;
    font-size: 16px;
    color: white;
}

#login-button:active{
    opacity:0.7;
}

/*----- QUESTIONS PAGE--------*/

.questions li{
	position:relative;
	left:-80%;
   width: 70%;
   background: darkgrey;
   height: 60px;
   margin-top: 20px;
   margin-bottom: 10px;
   padding-top: 50px;
   padding-left:30px;
   font-size: 18px;
   animation-name: moves;
   animation-duration:0.5s;
   webkit-animation-name: move-questions;
   webkit-animation-duration:0.5s;
   animation-timing-function:linear;
   animation-fill-mode: forwards;
}

@keyframes moves{
	0% { left:-40%};
	10% {left:-10%};
	20% {left: 0%};
	50%{left: 0.3%}
	100% {left: 0.9%};
	}
.questions li:hover{
    background:cadetblue;
}

.questions li:active{
    background: mediumseagreen;
}

.questions-title {
    margin-left: 50px;
    width:auto;
    margin-bottom: 50px;
    color:cadetblue;
}

#closeMe a{
    position: absolute;
    right:50px;
    top:30px;
    color: cadetblue;
}

#next-stuff a{
    margin-left: 50px;
    width:auto;
    color: cadetblue;
}

 a{
    color: cadetblue;
}

}
